/SupplyAsyncThenApply.class
/SupplyAsyncThenApplyAsync.class
/SupplyAsyncThenApplyAsyncParallelizing2SupplyAsync1RunAsyncThenApplyAsync.class
/SupplyAsyncThenApplyAsyncParallelizing2SupplyAsyncExecutor1RunAsyncThenApplyAsync2.class
/SupplyAsyncThenApplyAsyncWithExecutor.class
/SupplyAsyncThenApplyAsyncWithSuppliersAsync.class
/SupplyAsyncThenApplyAsyncWithSuppliersAsyncAndExecutors.class
/SupplyAsyncThenApplyToBeKilled.class
/SupplyAsyncWithExecutorThenApplyAsync.class
